@font-face {
  font-family: "PT Sans";
  src: local("PT Sans"),
  url("./fonts/PT Sans-Regular.woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: local("PT Sans"),
  url("./fonts/PT Sans-Bold.woff");
  font-weight: 700;
  font-style: normal;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  /*100% - чтобы блок автоматически занял 100% окна браузера*/
    /*Фишка -вносим эти 2 строки только для того, чтобы видеть С каким элементом сейчас рабоатем
     outline: 5px solid red;
     outline-offset: -5px;
    */
  }

  body {
     display: flex;
    flex-direction: column;
    min-height: 100%;
      font-family: "PT Sans" sans-serif;
      font-size: 16px;
      line-height: 24px;
      color: #242424;
      background-color: #fbf7f4;
        }


h2 {
  font-family: "PT Sans" sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}

h3 {
  font-family: "PT Sans" sans-serif;
  font-size: 24x;
  line-height: 32px;
  color: #ffffff;
  text-transform: uppercase;
}

h4 {
  font-family: "PT Sans" sans-serif;
  font-size: 24x;
  line-height: 32px;
  color: #000000;
  text-transform: uppercase;
}

/*header*/
.page-header {
width: 100%;
}

.logo {
margin-left: 70px;
flex-shrink: 0;
}

.navigation {
display: flex;
width: 1200px;
margin: 0 auto;
}

/*Обнуляем отступы- см у нас звездочкой вверху уже задано*/
.navigation-list {
  margin: 0;
  padding: 0;
  width: 460px;
}

.navigation-link {
  font-family: "PT Sans Narrow", sans-serif;
  line-height: 22px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  background-color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

 /*Ограничиваем ширину правого меню*/
.navigation-user {
  max-width: 250px;
  /*margin-left:auto блок встает вправо*/
  margin-left:auto;
}


/*.header-menu a {
  color: #000000;
}

.header-menu ul {
  list-style: none;
  padding-left: 0;
  color: #000000;
}

.header-menu ul li a:hover {
  text-decoration: underline;
}

.header-menu li {
  /*display: inline-block;
  vertical-align: middle;
color: var(--basic-black, #000);
font-family: PT Sans;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 26px; /* 130%
}*/


/*main*/
.main-index {
  color: #FFFFFF;
  background-color: #000000;
  background-image: url("images/index-bg.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

h1 {
  /*уточнить размер шрифта*/
  font-family: "PT Sans" sans-serif;
  font-size: 44x;
  line-height: 32px;
  color: #ffffff;
  text-transform: uppercase;
}

.main-inner {
  color:#242424;
  background-color: #f7f7f4;
  background-image: url("images/bg-noisy.png");
}

/*создали стакан и margin 0 auto чтобы он встал по центру страницы*/
.page-container {
  width: 1200px;
  margin: 0 auto;
  }

  .logo {
    display:block;
    margin: 0 auto;
  }

  *Преимущества*/
  .advantages-list {
    display:flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #000000;
  }

  .advantages-item {
    width: 400px;
  }

  /*Поиск гостиницы Заинтересовались*/
  .search {
    width: 1200px;
  }

  .search-hotel {
    text-transform: uppercase;
  }

  .subscribe {
    width: 1200px;
  }

  .subscribe-title {
    text-transform: uppercase;
  }

  .page-footer-container {
    display:flex;
    width: 1200px;
    margin: 0 auto;
  }

  .footer-social {
    width: 110px;
  }

   /*Каталог Гостиницы Седоны*/
.inner-header-title {
  width: 528px;
  font-size: 32px;
  line-height: 35px;
  text-transform: uppercase;
}

/*Форма фильтра гостиниц*/
.catalog-filter-title {
  width: 150px;
  color: #ffffff;
  font-family: PT Sans;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
   }
