@font-face {
  font-family: "PT Sans";
  src: local("PT Sans"),
  url("./fonts/PT Sans-Regular.woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: local("PT Sans"),
  url("./fonts/PT Sans-Bold.woff");
  font-weight: 700;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
  /*overflow-x: hidden;*/
}

ul {
  list-style: none;
}

a {
  color: #ffffff;
  text-decoration: none;
}

/*header*/
.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto 0 auto;
  max-width: 1200px;
 /* padding-top: 28px;
  padding-left: 15px;
  padding-bottom: 12px;*/
}

.header__menu {
  display:flex;
  width: 1200px;
  /*color: #ffffff; */
}

.top__menu-logo {
  margin-left: 70px;
  }

.menu {
display: flex;
width: 345px;
padding: 20px 17px;
align-items: flex-start;
gap: 34px;
}

.menu ul li a:hover {
  text-decoration: underline;
}

.menu__list-item {
  /*display: inline-block;
  vertical-align: middle;  */
color: var(--basic-black, #000);
font-family: PT Sans;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 26px; /* 130% */
}

/*.menu__list {
  /*margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  color: #ffffff;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: center; */
}

.menu__link {
font-family: PT Sans;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 26px; /* 130% */
padding-left: 34px;
color: inherit;
text-decoration: none;
}


.header__container {
  /*max-width: 720px;
  margin: auto;
  position: relative;
  z-index: 3;
  padding-top: 93px; */

color: var(--basic-black, #000);
text-align: center;
font-family: PT Sans;
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: 36px; /* 120% */
text-transform: uppercase;
}

.welcome  {
width: 458px;
height: 352px;
flex-shrink: 0;
}

.sedona  {
width: 456.7px;
height: 212.765px;
flex-shrink: 0;
}

/*MAIN*/
.main {
  display: flex;
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto 0 auto;
  justify-content: space-between;
}

.header__container {
  width: 720px;
  color: var(--basic-black, #000);
text-align: center;
font-family: PT Sans;
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: 36px; /* 120% */
text-transform: uppercase;
}
